
.question, .answer {
    display: none;
    background: #ecf0f1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease-in-out;
    max-width: 650px;
    width: 100%;
}

.visible {
    display: block;
    animation: fadeIn 0.5s ease-in-out;
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease;
}


.radio-button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

.answer {
    color: #2c3e50;
    font-weight: bold;
    font-size: 18px;
    display: none;
}

/* Styling for the final answers */
.correct {
    background-color: #2ecc71;
    color: white;
}

.incorrect {
    background-color: #e74c3c;
    color: white;
}
.iws-repeater-item {
    margin-bottom: 20px!important;
}



.thank_you_after_questions{
    background-color: #8080809c;
    padding: 20px;
    border-radius: 5px;
    box-shadow: -15px -1px 27px #30454c8c;
}


.thank_you_after_questions h2 {
    color: #fff;
    font-weight: 800;
    padding: 0px 20px 0px 20px;
 }






 .not_eligible_message{
    width: 650px;
    background-color: #f10e0e9c;
    padding: 20px;
    border-radius: 5px;
    box-shadow: -15px -1px 27px #30454c8c;
}


.not_eligible_message h2 {
    color: #fff;
    font-weight: 800;
    padding: 0px 20px 0px 20px;
    text-transform: capitalize;
 }


 .login_register_first {
    background-color: #ded0d080;
    padding: 20px !important;
    border-radius: 10px;
}


.welcome_message_user {
    text-align: center;
}
